// Animations
@keyframes rotateMouse {

  0%,
  100%,
  30% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  10% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  20% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}
@keyframes scrollDown {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    -webkit-transform: translate(0,40px);
    transform: translate(0,40px);
    opacity: 0;
}
}